// Global
h3 {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 4px grey;
}

.wb {
    color: #17a2b8;
    text-shadow: 3px 3px 4px grey;
}

// Buttons
.btn {
    font-size: 1rem;
    border:2px solid white;
    border-radius: 10px;
    background-color: #17a2b8;
    color:white;
}

.btn:hover {
    background-color: white;
    color: #17a2b8;
}

// Form
.form {
    padding: 10px;
    border-bottom: 2px solid black;
    text-align: center;
    background-color: #17a2b8;
}

.form input {
    background-color:white;
}

.save span {
    font-size: .9rem;
}

.todo-text {
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 5px;
    margin-bottom: 40px;
    border-radius: 10px;
}

// Task List
.list {
    color: white;
    padding: 0px 10px;
}

.todo-list {
    display: flex;
    list-style-type: none;
    background-color: #17a2b8;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 10px 9px 5px #5a5a5a; 
    box-shadow: 1px 10px 9px 5px #5a5a5a;
}

.todo-list-item {
    flex-grow: 1;
}

.fa-check {
    color: white;
    padding: 10px;
    margin-right: 10px;
    // border: 2px solid green;
    border-radius: 5px;
}

.fa-times {
    color: white;
    padding: 10px;
    margin-right: 10px;
    // border: 2px solid white;
    border-radius: 5px;
}

.fa-check:hover {
    color: green;
}

.fa-times:hover {
    color: rgb(255, 0, 0);
    
}

// Completed

.todo-list-complete {
    display: flex;
    list-style-type: none;
    background-color: darkgray;
    color: grey;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    -webkit-box-shadow: 1px 10px 9px 5px #5a5a5a; 
    box-shadow: 1px 10px 9px 5px #5a5a5a;
}

.todo-list-item-complete {
    flex-grow: 1;
}

