h3 {
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 3px gray;
}

form {
    background-color: #17a2b8;
    color: white;
    padding: 1rem;
    border: 5px solid #343a40;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 1px 16px 15px 5px #5a5a5a; 
    box-shadow: 1px 16px 15px 5px #5a5a5a;

    label {
        font-size: 2rem;
        text-shadow: 2px 2px 3px grey;
    }

    input {
        font-size: 1.5rem;
        text-align: center;
    }
}