<div class="container">
    <h3>Temperature Converter</h3>
    <form>
        <div class="form-row justify-content-around">
            <div class="form-group col-md-2">
                <label for="Fahrenheit">Fahrenheit</label>
                <input class="form-control" type="number" name="f" id="fahrenheit" [(ngModel)]="fahrenheit" (ngModelChange)="convertToC()">
            </div>
            <div class="form-group col-md-2">
                <label for="Celsius">Celsius</label>
                <input class="form-control" type="number" name="C" id="celsius" [(ngModel)]="celsius" (ngModelChange)="convertToF()">
            </div>
        </div>
    </form>
</div>
