form h2 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid white;
    margin-bottom: 30px;
}
form {
    background-color: lightseagreen;
    color: white;
    padding: 30px;
    margin-top: 20px;
    border-radius: 15px;
    text-shadow: 2px 2px 2px rgb(71, 71, 71);
    -webkit-box-shadow: 1px 16px 15px 5px #5a5a5a; 
    box-shadow: 1px 16px 15px 5px #5a5a5a;
}
