app-todo-list {
    display: inline-block;
    font-size: 2rem;
    width: 75%;
    border: 2px solid black;
    border-radius: 10px;
    background-color:grey;
    text-shadow: 1px 1px 1px rgb(173, 173, 173);
    margin: 0 14rem;
}

