
.dropdown-menu {
    color: white;
    background-color:#343a40 ;

    a:hover {
        color: #17a2b8;
        background-color:#343a40;
        cursor: pointer;
    }
}


.nav-item {
    a:hover {
        color: #17a2b8;
    }
}
.nav-link {
    color:white;
}

.nav-link:hover {
    color:#17a2b8;
}

